body {
    font-family: "Montserrat", arial, sans-serif;
    background: #000;
    color: #f1f1f1;
}
button {
    border: 0.5px solid #f1f1f1;
    background: transparent;
    color: #f1f1f1;
    padding: 1em;
    font-family: "Montserrat", arial, sans-serif;
}
button:hover {
    background: #f1f1f1;
    color: #000;
    cursor: pointer;
}

/*header*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.1em 0.5em;
}
.navi {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.navi a {
    color: #f1f1f1;
}
img.logo {
    min-height: 50px;
}

/* To do list*/
ul.to-do li {
    padding-bottom: 0.3em;
}

/*Box*/
.box {
    height: 20vh;
    width: 500px;
    background: #ff00b1;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

/*Pop-up*/
.popup-wrapper {
    display: none;
}

.popup-wrapper.showme {
    display: flex;
    top: 0;
    position:absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(10,10,10,0.5);
    backdrop-filter: blur(10px);
    align-items: center;
    justify-content:center ;
}

.popup {
    padding: 30px;
    background-color: #222;
    border: 0.5px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.close {
    padding: 5px;
    background: #333;
    width: 1em;
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 5px;
    position: relative;
    left: 100px;
    top: -15px;
    margin-bottom: -50px;
}
.close:hover {
    background-color: #444;
}